/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$lakes-colors: (
  carmine: #EE3A39,
  space-gray: #4B4B4B,
  red-brown: #AE2B2A,
  jet: #34344A,
  astral: #3771ac,
  roman-silver: #88939a,
  gainsboro: #DFDFDF
);

$primary: map-get($lakes-colors, carmine);
$danger: map-get($lakes-colors, carmine);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Bootstrap Variables
$body-color: map-get($lakes-colors, space-gray);
$link-color: $primary;
$link-hover-color: map-get($lakes-colors, red-brown);
$hr-border-color: map-get($lakes-colors, jet);

$navbar-dark-color: #FFF;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;
$navbar-dark-disabled-color: rgba(#FFF, .5);
$navbar-padding-y: 0;
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1.5rem;

$font-family-base: 'Open Sans', sans-serif;
$font-weight-base: 400;
$headings-font-family: Oswald,sans-serif;
$headings-font-weight: 400;