// Blog
body.blog {
    article.post:not(.featured-post) {
        @extend .card;
        margin-bottom: ($spacer * 2);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }
        .featured-img {
            width: 100%;
            overflow: hidden;
            @include media-breakpoint-up(lg) {
                max-width: 300px;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                max-height: 300px;
                @include transition(width .25s ease-in-out, height .25s ease-in-out);
                @include media-breakpoint-up(lg) {
                    max-height: none;
                }
                
            }
            &:hover {
                img {
                    width: 105%;
                    height: 105%;
                }
            }
        }
        .article-content {
            flex-grow: 1;
        }
        header.card-header {
            background: #FFF;
        }
        .card-footer span {
            margin-right: 15px;
            display: inline-block;
        }
    }
    article.featured-post {
        margin-top: -($spacer * 1.5);
        margin-bottom: ($spacer * 2);
        position: relative;
        overflow: hidden;
        min-height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
            color: #FFF;
        }
        .featured-img {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            &:before {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.35);
                content: '';
            }
            img {
                object-fit: cover;
                //height: 300px;
                width: 100%;
                @include transition(width .25s ease-in-out, height .25s ease-in-out);
                
            }
        }
        .article-content {
            position: relative;
            z-index: 2;
            color: #FFF;
            width: 100%;
            padding: ($spacer * 2);
            .article-date {
                color: map-get($lakes-colors, gainsboro);
                font-weight: $font-weight-bold;
            }
            .entry-title {
                font-size: $h1-font-size;
                margin-bottom: 0;
            }
            .article-body {
                padding-top: 1.25rem;
                padding-bottom: 1.25rem;
                .btn-container {
                    padding-top: 1.25rem;
                    padding-bottom: 1.25rem;
                }
                .btn {
                    background-color: transparent;
                    &:hover {
                        background-color: #FFF;
                        border-color: #FFF;
                        color: map-get($lakes-colors, tuna);
                    }
                }
            }
        }
        .article-footer span {
            margin-right: 15px;
            display: inline-block;
        }
        &:hover {
            img {
                width: 105%;
            }
            .article-content .article-body .btn {
                background-color: #FFF;
                border-color: #FFF;
                color: map-get($lakes-colors, tuna);
            }
        }
    }
}